body{
    color: #000000;
}

a{
    color: #9B59B6;
}

a:visited{
    color: #9B59B6;
}

a:hover{
    color: #d03b3b;
}

.wy-nav-side {
    background: #680084;
}

.wy-side-nav-search{
    background-color: #680084;
}

.wy-side-nav-search a{
    color: #ffffff;
}

.wy-side-nav-search a:visited{
    color: #ffffff;
}

.wy-side-nav-search div.version{
    color: #ffffff;
}

.wy-menu-vertical a{
    color: #ffffff;
}

.wy-menu-vertical a:hover{
    background-color: #d299ea;
    color: #000000;
}

.wy-menu-vertical li.toctree-l2 a{
    background-color: #9B59B6;
    color: #ffffff;
}

.wy-menu-vertical li.toctree-l2 a:hover{
    background-color: #d299ea;
    color: #000000;
}

.wy-menu-vertical li.toctree-l2.current a{
    background-color: #efefef ;
    color: #000000 ;
}

.wy-nav-top {
    background: #680084;
}

.wy-nav-top a{
    color: #ffffff;
}

.wy-nav-content-wrap{
    background: #fcfcfc;
}

footer > a{
    text-decoration: underline;
}

footer {
    color: #686868;
}