{% load navigation_tags wagtailimages_tags site_tags svg %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <input type="checkbox" id="main-navbar-input">
  <label for="main-navbar-input">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </label>

  <div id="main-navbar" class="navbar-menu">
    <label for="main-navbar-input">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger burger close" aria-label="menu" aria-expanded="false" data-target="main-navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </label>
    <div class="navbar-start">
      {% get_site_root as root_page %}
      {% if settings.site_settings.SiteSettings.logo %}
        <a class="navbar-item is-hidden-touch" href="{{ root_page.url }}">
          {% image settings.site_settings.SiteSettings.logo fill-32x32 %}
        </a>
      {% endif %}
      {% if root_page.show_in_menus %}
        <a class="navbar-item" href="{{ root_page.url }}">
          {{ root_page.title }}
        </a>
      {% endif %}
      {% top_menu parent=root_page first_level=True %}
    </div>

    {% get_menu_icons as icons %}
    {% if icons %}
      <div class="navbar-end menu-icons">
        <hr class="navbar-divider menu-icons">
        {% for icon in icons %}
          <a class="navbar-item menu-icons" href="{{ icon.value.link }}">
            <span class="icon {{ icon.value.icon_type }} social-media-icon">
              {% svg icon.value.icon_type %}
            </span>
            <div class="social-media-text">
              {{ icon.value.link_text }}
            </div>
          </a>
        {% endfor %}
      </div>
    {% endif %}

  </div>
</nav>
