svg {
  fill: currentColor;
}

.icon.is-small svg{
  min-height: $icon-dimensions-small ;
  min-width: $icon-dimensions-small ;
}

.icon.is-medium svg{
  min-height: $icon-dimensions-medium ;
  min-width: $icon-dimensions-medium ;
}

.icon.is-large svg{
  min-height: $icon-dimensions-large ;
  min-width: $icon-dimensions-large ;
}

.icon svg {
  min-height: $icon-dimensions ;
  min-width: $icon-dimensions ;
}

/* Icons in menu + footer */
span.icon.social-media-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  max-height: 32px;

  svg {
    height: 100%;
  }
}

@media screen and (max-width: 1023px) {
  a.navbar-item.menu-icons {
    margin-bottom: 1rem;
  }
}

.social-media-text {
  display: inline-block;
}

.navbar-divider.menu-icons {
  display: block;
  background-color: #ccc;
  margin: 2rem 0 1.5rem 0;
  height: 1px;
}

.navbar-item.menu-icons {
  padding: 0 .5rem 0 .5rem;
  display: inherit;
}

.navbar-end .menu-icons {
  text-align: center;
}

/* Icons in footer */
footer.footer {
  .column.social-media-icon {
    a {
      display: flex;
      justify-content: center;
    }
  }
}
