{% extends "base.html" %}

{% block content %}
  <section class="hero is-medium is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ page.title }}
        </h1>
        {% if page.subtitle %}
        <h2 class="subtitle is-5">
          {{ page.subtitle }}
        </h2>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container content is-medium">
    {{ page.content | safe }}
    </div>
  </section>

{% endblock content %}
